.rightContainer{
width: 1177px;
height: 1289px;
padding:0.5%;
margin-left: 20%;
width: 1105px;
background-color:#FFFFFF;
border-radius: 15px;
margin-top: 20px;



}
#innerdiv{
background-color:#FFFFFF;
  width:1081.08154296875px ;
  height: 1229px;
  border-radius: 20px;
  border: 1px solid  #E0E0E0 ;
  margin: 10px;
}
#heading{
width:422.64px ;
height: 52px;
  background-color: #FFFFFF;

}
#firstBox{
  width: 736.3743896484375px;
  height: 374px;
  margin-left: 4%;
  background-color:#FFFFFF;
}
#firstBoxfirstDiv{
   display: flex;
   justify-content: flex-start;
       gap: 20%;
       background-color:#FFFFFF;
}
#firstBoxSecondDiv{
   margin-top: 1%;
   display: flex;
   justify-content: flex-start;
       gap: 20%;
       background-color:#FFFFFF;
}
#firstBoxThirdDiv{
margin-top: 1%;
   display: flex;
       justify-content: flex-start;
           gap: 25%;
           background-color:#FFFFFF;
}
#firstBoxFourthDiv{
margin-top: 1%;

       display: flex;
       justify-content: flex-start;
       gap: 25%;
       background-color:#FFFFFF;
}
#SecondBox {
   width: 75%;
   height: 40%;
   background-color:#FFFFFF;
}
#SecondBoxfirstDiv{
margin-top: 1%;
       display: flex;
       justify-content: flex-start;
       gap:25%;
       background-color:#FFFFFF;
}
#SecondBoxsecondDiv{
margin-top: 1%;
   display: flex;
       justify-content: flex-start;
       background-color:#FFFFFF;
}
.SecondBoxThirdDiv{
   margin-top: 1%;
   display: flex;
       justify-content: flex-start;
       background-color:#FFFFFF;
}
#SecondBoxFifthDiv{
   margin-top: 1%;
   display: flex;
       justify-content: flex-start;
       gap: 25%;
       background-color:#FFFFFF;
}
#SecondBox{
   width: 769.09px;
   height: 402px;
   background-color:#FFFFFF;
}